.site-header {
    position: relative;
    z-index: 8000
}

.site-header.transparent-header {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}

#top-menu {
    border: none;
    margin-top: 0;
    background-color: #3e3427;
}

.header-top {
    line-height: 80px;
    height: auto !important;
    width: 100%;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.logo {
    line-height: 80px;
    margin-right: 2px;
    margin-left: 0px;
    background-color: transparent;
    /* text-align: center; */
}

.header-top .logo a {
    line-height: 55px;
}

.logo a {
    height: 93px;
    width: auto;
    display: inline-block;
}

.logo img {
    vertical-align: middle;
    max-height: 100%;
    border: 0;
    max-width: 100%;
    margin: 10px 0px 0px 0px;
}

.header-top a.menu {
    padding-left: 20px;
    padding-right: 0px;
    font-size: 25px;
    float: right;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    /*background-color: rgba(46, 56, 65, 0.9);*/
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay::after {
  content: "";
  background: url(/static/background/sb.jpeg) no-repeat center;
  background-size: cover;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.ult-overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 35px;
    top: 35px;
    overflow: hidden;
    border: 0;
    background: url(/static/assets/images/cross.png) center center no-repeat;
    text-indent: 200%;
    color: transparent;
    outline: 0;
    z-index: 9999;
    cursor: pointer;
}

.overlay-content {
    position: relative;
    top: 5%;
    width: 90%;
    margin: 0 auto;
    margin-top: 0px;
    font-size: 30px;
}

.overlay ul li a {
    color: #b59859;
    font-size: 0.9em;
}

.overlay a {
    text-decoration: none;
    /* color: #818181; */
    display: block;
    transition: 0.3s;
    z-index: 100;
}

.primary-menu {
    border-top: none;
    border-color: #e7e7e7;
}

.primary-menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

.navbar{
  max-height: 71px;
}
.navbar-nav {
    font-family: 'Open Sans', sans-serif;
}

.primary-menu li.menu-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    line-height: 30px;
    margin: 0;
    padding: 0;
    transform: none;
}

nav>.container>.nav>li.nav-item>a {
    color: rgba(255, 255, 255, 1);
}

nav>.container>.nav>li.nav-item>a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.overlay h3 {
    color: #b59859;
    font-size: 0.9em;
}

.overlay h4 {
    color: #fff;
    font-size: .7em;
}

ul {
    list-style-type: disc;
    list-style-position: inside;
}

.overlay ul li {
    list-style: none;
}

.overlay ul li a {
    color: #b59859;
    font-size: 0.9em;
}
nav>.container{
  height: 50px;
}
.menu-button{
  margin-top: 7px;
  margin-right: 50px;
}
.backstretch-item, .display-table-cell {
  max-height: 80% !important;
}

.overlay-content>.row{
  margin-top: 100px;
}
.nav>.nav-item{
  font-size: 20px;
  font-weight: bold;
}
.cards-rooms{
  display: flex !important;
  flex-wrap: wrap !important;
}
  /*media*/
@media screen and (min-width: 480px) {
.scroll-btn{
  margin-top: 350px;
}

.logo img{
  margin: 15px 0px 0px 0px;
}
}
@media screen and (max-width: 480px) {
.scroll-btn{
  margin-top: 150px;
}
.panel{
  display: none;
}
#carousel{
  display: none;
}
.logo img{
  margin: 0px 0px 44px 0px;
}
}
.collapse {
    -webkit-transition: none !important;
    transition: none !important;
    display: none !important;
}
.cr7{
  position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}
.abg{
  background-color: #3f3428;
  transform: rotate(5deg);
  height: 100%;
  width: 100%;
}

/* out shit*/
.row-fluid{
  display: flex;
}

#accordionMenu {
  max-width: 300px;
}

.panel-body {
  padding: 0;
}

.panel-group .panel+.panel {
  margin-top: 0;
  border-top: 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}


@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	/*display: block;
	position: absolute;*/
  margin: 0 auto;
  position: absolute;
  /*left: 0;*/
  /*right: 0;*/
  width: 100%;
  z-index: 99999;
  top: 80%;
  text-align: center;
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;
}



/* Slider CSS */
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}
