{% extends 'base.html' %} {% load staticfiles %}
{% block body %}
<section id="slider" class="halfheight mobile-fullheight m-0" style="background:url({% static 'background/background-img1.jpg' %}) center">


    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container text-center">
                <h1 class="fw-300 mt-30 mb-10 wow fadeIn" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">ABOUT US</h1>
                <span class="rating rating-0 fs-25 text-white wow fadeIn" data-wow-delay="0.8s"></span>
                <span class="scroll-btn">
						 <a href="#next" class="scroll-down">
							 <span class="mouse">
								 <span>
								 </span>
							 </span>
						 </a>
						</span>

            </div>

        </div>
    </div>
</section>
<!-- / -->

<!-- ABOUT -->
<section>
    <div class="container">

        <div class="row">

            <div class="col-lg-6 push-lg-6">

                <header>
                    <h2 class="fs-25"><span>ABOUT A-Grade Earthmovers</span></h2>
                    <p class="fw-300"><b>A GRADE</b> &bull; WE PUT THE A-GRADE INTO <b>QUALITY</b></p>
                </header>

                <p class="lead">A newly established company, A-Grade Earthmovers deals in Spare Parts of Earthmoving, Mining and Construction Machinery; such as Excavators, Bulldozers, Rock Breakers, Wheel Loaders, Backhoe Loaders etc. </p>
                <p>The specific machines include mainly Spare Parts of Earthmoving, Mining and Construction Machinery; such as Excavators, Bulldozers, Rock Breakers, Wheel Loaders, Backhoe Loaders etc.</p>

                <p>The company since its inception, uphold the aggressive, strong faith, the implementation of scientific temparament, standardized management, has a group of professional production staff, the product in strict accordance with the standards, in accordance with the drawings to production and processing, with forging. precision casting, processing, welding, heat treatment and other professional production processes, product quality is stable and reliable, and the company quality assurance, widely praised by customers and trust. <br/>
                Company size and number of employees is constantly expanding as a result of our market oriented approach, to actively develop new products, to meet customer demand for products. At present, there has been an establishment of a stable market area and customer relationship network.<br/>
                Looking to the future, A-Grade Earthmovers' heavy industry machinery will, from the status quo,  gradually and exponentially rise and refine on, continuously improve production and competitiveness, improve sales service network. </p>

            </div>
            <div class="col-lg-6 pull-lg-6">

                <!--
								controlls-over		= navigation buttons over the image
								buttons-autohide 	= navigation buttons visible on mouse hover only

								data-plugin-options:
									"singleItem": true
									"autoPlay": true (or ms. eg: 4000)
									"navigation": true
									"pagination": true
									"transitionStyle":"fadeUp" (fade,backSlide,goDown,fadeUp)
							-->
                <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": true, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
                    <div>
                        <img class="img-fluid" src="{% static 'background/background-img2.jpg' %}" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="{% static 'background/background-img3.jpg' %}" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="{% static 'background/background-img4.jpg' %}" alt="">
                    </div>
                </div>
            </div>


        </div>



    </div>
</section>
<!-- /ABOUT -->
<!-- CLIENTS -->
<!-- <section class="section-sm">
    <div class="container">

        <header class="text-center">
            <h2 class="fs-25">HAPPY CLIENTS</h2>
            <p class="fw-300 mb-0">WHAT CLIENTS ARE SAYING ABOUT US</p>
        </header>
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial testimonial-bordered p-15">
                    <figure class="float-left">
                        <img class="rounded" src="{% static 'demo_files/images/people/300x300/2-min.jpg' %}" alt="" />
                    </figure>
                    <div class="testimonial-content">
                        <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
                        <cite>
										Felicia Doe
										<span>Company Ltd.</span>
									</cite>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial testimonial-bordered p-15">
                    <figure class="float-left">
                        <img class="rounded" src="{% static 'demo_files/images/people/300x300/1-min.jpg' %}" alt="" />
                    </figure>
                    <div class="testimonial-content">
                        <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
                        <cite>
										Joana Doe
										<span>Company Ltd.</span>
									</cite>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial testimonial-bordered p-15">
                    <figure class="float-left">
                        <img class="rounded" src="{% static 'demo_files/images/people/300x300/6-min.jpg' %}" alt="" />
                    </figure>
                    <div class="testimonial-content">
                        <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero!</p>
                        <cite>
										Melissa Doe
										<span>Company Ltd.</span>
									</cite>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section> -->
<!-- /CLIENTS -->
<!-- BUTTON CALLOUT -->
<a href="/contact" class="btn btn-xlg btn-default fs-20 fullwidth m-0 rad-0 b-0 p-40">
    <span class="font-lato fs-30">
					Need Our Service?
					<strong>Contact Now &raquo;</strong>
				</span>
</a>
<!-- /BUTTON CALLOUT -->

{% endblock %}
