{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>A-grade Earth Movers</title>
    <meta name="description" content="Agradearth" />
    <meta name="Author" content="Agradearth" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/fonts/css37c3.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/color_scheme/brown.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/header-0.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/pack-hotel.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/flexslider.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom-forms-v2.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'logo/agradelogo.ico'%}" />
    <script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/plugins/slider.flexslider/jquery.flexslider-min.js' %}"></script>

</head>

<body class="smoothscroll enable-animation">

    <header class="site-header">
        <nav id="top-menu" class="navbar fixed-top navbar-toggleable-xl navbar-inverse hidden-sm-down">
            <div class="container">
                <div class="header-top">
                    <div class="pull-left">
                        <div class="logo">
                            <a href="/">
                                <img src="{% static 'logo/logo.jpeg' %}" alt="A-Grade Earth" class="normal" height="50">
                            </a>
                        </div>
                    </div>
                    <div class="pull-right v-align">
                        <a href="#menu" class="menu menu-button"><i class="fa fa-bars"></i></a>
                        <div id="myNav" class="overlay">
                            <div class="closebtn ult-overlay-close">X</div>
                            <div class="overlay-content">
                                <h3>A-GRADE EARTH MOVERS</h3>
                                <div class="row">
                                    {% for i in prods1 %}
                                    <div class="col-4">
                                        <ul class="sub-category-brands" style="line-height:30px;padding-left:0px;">
                                            <li><a class="sub-category" href="/products/detail/{{i.slug}}/" style="color:white; text-align:center;">{{i.name}}</a></li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    {% for i in prods2 %}
                                    <div class="col-6">
                                        <ul class="sub-category-brands" style="line-height:30px;padding-left:0px;">
                                            <li><a class="sub-category" href="/products/detail/{{i.slug}}/" style="color:white; text-align:center;">{{i.name}}</a></li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    {% for i in prods3 %}
                                    <div class="col-4">
                                        <ul class="sub-category-brands" style="line-height:30px;padding-left:0px;">
                                            <li><a class="sub-category" href="/products/detail/{{i.slug}}/" style="color:white; text-align:center;">{{i.name}}</a></li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    {% for i in prods4 %}
                                    <div class="col-6">
                                        <ul class="sub-category-brands" style="line-height:30px;padding-left:0px;">
                                            <li><a class="sub-category" href="/products/detail/{{i.slug}}/" style="color:white; text-align:center;">{{i.name}}</a></li>
                                        </ul>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <ul class="nav navbar-nav ml-auto font-raleway">
                            <li class="nav-item">
                                <a class="nav-link" href="/">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about/">ABOUT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cr7/">CR7</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/products/">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact/">CONTACT</a>
                            </li>
                            <li class="back" style="width:50px;">
                                <div class="left"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <style type="text/css">
        .mini-menu{
            color: #fff;
            position: fixed;
            z-index: 999;
            width: 100vw;
        }
    </style>
    <nav id="top-menu" class="mini-menu navbar navbar-toggleable-md navbar-inverse bg-faded hidden-sm-up">
        <div class="container">
            <div class="pull-left logo navbar-brand">
                <a href="/"><img src="{% static 'logo/logo.jpeg' %}" alt="A-Grade Earth" class="normal" height="40" width="150"></a>
            </div>
            <div class="pull-right v-align">
                <style>
                    .mini-overlay {
                        height: 0;
                        width: 100%;
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        top: 57px;
                        background-color: rgba(46, 56, 65, 0.9);
                        overflow-x: hidden;
                        transition: 0.5s;
                    }

                    .mini-menu-button {
                        font-size: 2em;
                        color: #fff;
                    }
                </style>
                <a href="#menu" class="menu mini-menu-button"><i class="fa fa-bars"></i></a>
                <div id="myMiniNav" class="mini-overlay">
                    <ul class="nav navbar-nav mr-auto font-raleway">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about/">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cr7/">CR7</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products/">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact/">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <!-- Menu-End -->




    <!-- wrapper -->
    <div id="wrapper">

        {% block body %} {% endblock %}
        <!-- FOOTER -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="letter-spacing-1 fw-300">WHY <b>A-GRADE EARTHMOVERS?</b></h3>
                        <p>
                            We believe in building relations, on the touchstone of quality.</br>
                            We put the <strong>A-grade</strong> in quality.
                        </p>
                        <h2><a href="tel:01140109844"><i class="fa fa-phone" aria-hidden="true"></i> 011-40109844</a></h2>
                        <h2><a href="tel:08851442015"><i class="fa fa-whatsapp" aria-hidden="true"></i> +91-8851442015</a>, <a href="tel:09999446881">+91-9999446881</a></h2>
                    </div>
                    <div class="col-md-4">
                        <h2 class="letter-spacing-1">KEEP IN TOUCH</h2>
                        <h3>Contact us through mail</h3>
                        <h3><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:agradeearthmovers@gmail.com">agradeearthmovers@gmail.com</a></h3>

                    </div>
                </div>
            </div>
            <div class="copyright has-social">
                <div class="container">
                    <div class="copyright-text float-left nofloat-xs">
                        Developed by <a target="_blank" href="https://thestackattack.github.io">Team StackAttack</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a href="#" id="toTop"></a>
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div>

    <script type="text/javascript">
        var plugin_path = '{% static "assets/plugins" %}/';
    </script>
    <script type="text/javascript" src="{% static 'assets/js/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/view/pack_hotel.js' %}"></script>
    <script>
        var open = false;
        $('.menu-button').on('click', function() {
            $('#myNav')[0].style.width = '100%';
        });
        $('.mini-menu-button').on('click', function() {
            if (!open){
                $('#myMiniNav')[0].style.height = '290px';
                $('#myMiniNav')[0].style.padding = '20px';
            }
            else{
                $('#myMiniNav')[0].style.height = '0%';
                $('#myMiniNav')[0].style.padding = '0px';
            }
            open = !open;
        });
        $('.closebtn').on('click', function() {
            $('#myNav')[0].style.width = '0%';
        });
    </script>
    {% block javascript %} {% endblock %}
</body>

</html>
