{% extends 'base.html' %} {% load staticfiles %} {% load crispy_forms_tags %} {% block body %}
<section id="slider" class="halfheight mobile-fullheight m-0" style="background:url({% static 'background/background-img1.jpg' %}) center">


    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container text-center">

                <!-- <div class="rounded-logo rounded-logo-xs wow fadeIn" data-wow-delay="0.4s">
                    <img src="{% static 'demo_files/images/packs/hotel/logo.jpg' %}" alt="">
                </div> -->

                <h1 class="fw-300 mt-30 mb-0 wow fadeIn" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">CONTACT US</h1>

            </div>

        </div>
    </div>




    <!-- <span class="raster overlay dark-3 z-index-0">dark|light overlay [0 to 9 opacity]</span> -->


</section>
<!-- / -->



<section class="b-0">
    <div class="container">

        <div class="row">

            <div class="col-lg-7 push-lg-5">

                <div class="heading-title mt-0">
                    <h2 class="fs-20 fw-400">DROP US A LINE OR JUST SAY HELLO</h2>
                </div>
                {% if not request.POST %}
                <p>
                    For any query or any need of information, contact us by filling the following form.
                </p>
                {%endif%}

                <div>



                    <!--
									MESSAGES

										How it works?
										The form data is posted to php/contact.php where the fields are verified!
										php.contact.php will redirect back here and will add a hash to the end of the URL:
											#alert_success 		= email sent
											#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
											#alert_mandatory	= email not sent - required fields empty
											Hashes are handled by assets/js/contact.js

										Form data: required to be an array. Example:
											contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
											Also, add `required` to input fields if is a mandatory field.
											Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

										PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
													 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

										WARNING! Do not change the `email` and `name`!
													contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
													contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
								-->

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>

                            {% endfor %}
                    </ul>
                    {% endif %}




                    <!-- Alert Success -->
                    <div id="alert_success" class="alert alert-success mb-30">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Thank You!</strong> Your message successfully sent!
                    </div>
                    <!-- /Alert Success -->


                    <!-- Alert Failed -->
                    <div id="alert_failed" class="alert alert-danger mb-30">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>[SMTP] Error!</strong> Internal server error!
                    </div>
                    <!-- /Alert Failed -->


                    <!-- Alert Mandatory -->
                    <div id="alert_mandatory" class="alert alert-danger mb-30">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
                    </div>
                    <!-- /Alert Mandatory -->


                    <form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset>
                            <!-- <input type="hidden" name="action" value="contact_send" />

                            <div class="row">
                                <div class="col-md-6">
                                    <label for="contact:name">Full Name *</label>
                                    <input required type="text" value="" class="form-control" name="contact[name][required]" id="contact:name">
                                </div>
                                <div class="col-md-6">
                                    <label for="contact:email">E-mail Address *</label>
                                    <input required type="email" value="" class="form-control" name="contact[email][required]" id="contact:email">
                                </div>
                                <div class="col-md-12">
                                    <label for="contact:phone">Phone</label>
                                    <input type="text" value="" class="form-control" name="contact[phone]" id="contact:phone">
                                </div>

                                <div class="col-md-12">
                                    <label for="contact:subject">Subject *</label>
                                    <input required type="text" value="" class="form-control" name="contact[subject][required]" id="contact:subject">
                                </div>

                                <div class="col-md-12">
                                    <label for="contact:message">Message *</label>
                                    <textarea required maxlength="10000" rows="6" class="form-control" name="contact[message]" id="contact:message"></textarea>
                                </div>
                            </div> -->


                            {{ form | crispy}}
                        </fieldset>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>


                </div>


            </div>


            <div class="col-lg-5 pull-lg-7">

                <!--
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
                <div id="map2" class="h-400 "></div>

                <hr />

                <p>
                    <span class="block fw-300">

								</span>
                    <span class="block fw-300">

								</span>
                    <span class="block fw-300">

								</span>
                </p>

                <ul class="list-unstyled list-icons">
                    <li><i class="fa fa-map-marker"></i> <strong>Address:</strong> K-96, Udyog Nagar, New Delhi, India</li>
                    <li><i class="fa fa-phone"></i> <strong>Phone:</strong> <a href="tel:8851-442-015">+91-8851-442-015</a></li>
                    <li><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:agradeearthmovers@gmail.com">agradeearthmovers@gmail.com</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block javascript %}

<!--
			GMAP.JS
			http://hpneo.github.io/gmaps/
		-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script>
<script type="text/javascript" src="{% static 'assets/plugins/gmaps.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {

        /**
        	@BASIC GOOGLE MAP
        **/
        var map2 = new GMaps({
            div: '#map2',
            lat: 28.6697,
            lng: 77.0569,
            scrollwheel: false
        });

        var marker = map2.addMarker({
            lat: 28.6697,
            lng: 77.0569,
            title: 'Agrade-Earthmovers'
        });

    });
</script>

{% endblock %}