{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<section id="slider" class="halfheight mobile-fullheight m-0" style="background:url({% static 'background/background-img1.jpg' %}) center">


    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container text-center">

                <h1 class="fw-300 mt-30 mb-10 wow fadeIn" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">ABOUT CR7</h1>

            </div>

        </div>
    </div>

</section>
<!-- / -->
<!-- ABOUT -->
<section>
    <div class="container">

        <div class="row">

            <div class="col-lg-6 push-lg-6">

                <header>
                    <h2 class="fs-25"><span>CR7</span></h2>
                    <p class="fw-300"><b>A GRADE</b> &bull; WE PUT THE A-GRADE INTO <b>QUALITY</b></p>
                </header>

                <p class="lead">
                    Competitive pricing: offering you such overtly competitive prices for your products, you won’t have to think twice before choosing us.
                    <strong>The 7Rs:</strong>
                    <ul>
                        <li>Reliable: The brand you can rely on, offering you quality, both in product and service.</li>
                        <li>Responsive: Efficient and promptly responsive team, working towards building this brand.</li>
                        <li>Resilient: Products made to withstand tough conditions offered in earthmoving excavation process.</li>
                        <li>Result: Result oriented process, in accordance with the quality we offer, the service we provide.</li>
                        <li>Relations: Not just transactions, we believe in building relations, transcending beyond business, to a level of friendship and establishing healthy and sound rapport.</li>
                        <li>Responsible: Assuming responsibility in every transaction, from each department dealing with you, quality and service.</li>
                        <li>Reverence: When you connect with us, your wish is our command!</li>
                    </ul>
                </p>

            </div>


            <div class="col-lg-6 pull-lg-6 controlls-over">
                <div class="owl-carousel buttons-autohide controlls-over" data-plugin-options='{"singleItem": true, "autoPlay": true, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
                    <div>
                        <img class="img-fluid" src="{% static 'background/background-img2.jpg' %}" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="{% static 'background/background-img3.jpg' %}" alt="">
                    </div>
                    <div>
                        <img class="img-fluid" src="{% static 'background/background-img4.jpg' %}" alt="">
                    </div>
                </div>
              </div>
          </div>
    </div>
</section>
<!-- /ABOUT -->


<!-- BUTTON CALLOUT -->
<a href="/contact" class="btn btn-xlg btn-default fs-20 fullwidth m-0 rad-0 b-0 p-40">
    <span class="font-lato fs-30">
					Need Our Service?
					<strong>Contact Now &raquo;</strong>
				</span>
</a>
<!-- /BUTTON CALLOUT -->

{% endblock %}
