{% extends 'base.html' %} {% load staticfiles %} {% block body %}

<div id="slides" class="fullheight m-0">
  <ul class="slides-container">
    <li>
      <img src="{% static 'background/background-img1.jpg' %}" alt="">
      <div class="display-table">
        <div class="display-table-cell vertical-align-middle">
            <div class="container text-center">
                <h1 class="fw-300 mb-0 wow fadeIn name-text" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">A-GRADE EARTHMOVERS</h1>
            </div>
        </div>
      </div>
    </li>
    <li>
      <img src="{% static 'background/background-img2.jpg' %}" alt="">
      <div class="display-table">
        <div class="display-table-cell vertical-align-middle">
            <div class="container text-center">
                <h1 class="fw-300 mb-0 wow fadeIn name-text" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">What’s in a name?” - Shakespeare. <p>When it concerns us, plenty, it appears.</p></h1>
            </div>
        </div>
      </div>
    </li>
    <li>
      <img src="{% static 'background/background-img3.jpg' %}" alt="">
      <div class="display-table">
        <div class="display-table-cell vertical-align-middle">
            <div class="container text-center">
                <h1 class="fw-300 mb-0 wow fadeIn name-text" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">Frontrunners for best quality spares and even better service satisfaction, we bring to you A-Grade quality products.</h1>
            </div>
        </div>
      </div>
    </li>
    <li>
      <img src="{% static 'background/background-img4.jpg' %}" alt="">
      <div class="display-table">
        <div class="display-table-cell vertical-align-middle">
            <div class="container text-center">
                <h1 class="fw-300 mb-0 wow fadeIn name-text" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">We believe in building relations, on the touchstone of quality. <p>We put the A-grade in quality.</p></h1>
            </div>
        </div>
      </div>
    </li>
  </ul>
    <span class="scroll-btn">
        <a href="#next" class="scroll-down">
            <span class="mouse">
                <span></span>
            </span>
        </a>
    </span>
  <nav class="slides-navigation">
    <a class="bs-next" href="#" style="margin-top:-5px;top:0;"></a>
    <a class="bs-prev" href="#" style="margin-top:-5px;top:0;"></a>
  </nav>
</div>

<section class="fp">
    <div class="container">
        <header class="text-left mb-60">
            <h2 class="fs-25">FEATURED PRODUCTS</h2>
        </header>
        <div class="container">
            <div id="slider" class="flexslider">
                <ul class="slides">
                    {% for obj in featured %}
                    <li>
                        <a href="/products/detail/{{obj.slug}}/"><img src="{{ obj.image.url }}" height="300" width="300" /></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="carousel" class="flexslider">
                <ul class="slides">
                    <ul class="slides">
                        {% for obj in featured %}
                        <li>
                            <a href="/products/detail/{{obj.slug}}/"><img src="{{ obj.image.url }}" height="300" width="300" /></a>
                        </li>
                        {% endfor %}
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="first-section  row">
            <div class="col-sm-6 text-center">
                <h1> Meet CR7</h1>
                <p>Meet our newest brand CR7.</p>
                <p>A trusted and reliable source to your needs</p>
                <a href="/cr7/">
                    <h3 class="text-center">Know more here!</h3>
                </a>
            </div>
            <div class="col-sm-6">
                <img src="{% static 'background/cr7.jpeg'%}" class="img-responsive cr7" alt="img" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" style="margin: 100px 0px 100px 0px;">
                <hr />
            </div>
        </div>
        <div class="second-section row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6 text-center">
                <h1>Wide range of products</h1>
                <p>We have a wide range of products specifically tailored for your need.</p>
                <p>Not to forget we have put the A-grade in all of our products.</p>
                <a href="/products/">
                    <h3 class="text-center">View all products</h3>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block javascript %}
<script src="{% static 'assets/plugins/jquery.superslides.js' %}"></script>
<script src="{% static 'assets/plugins/scrollreveal.min.js' %}"></script>
<script>
    $(function() {
        $('.scroll-down').click(function() {
            $('html, body').animate({
                scrollTop: $('section.fp').offset().top
            }, 'slow');
            return false;
        });
    });
    $(document).ready(function() {
        // The slider being synced must be initialized first
        $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel"
        });

        $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 210,
            itemMargin: 5,
            asNavFor: '#slider'
        });

        $("#slides").superslides({animation: "fade"});
            setInterval(function(){
                $("#slides").superslides("animate");
        }, 4000);

        window.sr = ScrollReveal();
        sr.reveal('.first-section');
        sr.reveal('.second-section');
    });
</script>
{% endblock %}
