{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<section id="slider" class="halfheight mobile-fullheight m-0" style="background:url({% static 'background/background-img3.jpg' %}) center">


    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container text-center">

                <!-- <div class="rounded-logo rounded-logo-xs wow fadeIn" data-wow-delay="0.4s">
                    <img src="{% static 'demo_files/images/packs/hotel/logo.jpg' %}" alt="">
                </div> -->

                <h1 class="fw-300 mt-30 mb-0 wow fadeIn" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">Product Details</h1>

            </div>

        </div>
    </div>




    <!-- <span class="raster overlay dark-3 z-index-0">dark|light overlay [0 to 9 opacity]</span> -->


</section>
<!-- / -->


<section class="alternate">
    <div class="container">


        <header class="text-center mb-60">
            <h2 class="fs-25">{{object.name | upper}}</h2>
        </header>


        <div class="lightbox" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>
            <div class="owl-carousel-2 owl-centered-focus" data-plugin-options='{
							"responsiveBaseElement":	"#wrapper",
							"loop":						true,
							"margin":					0,

							"nav":						true,
							"dots":						false,

							"center":					true,
							"slideBy":					"1",
							"autoplay":					true,
							"autoplayTimeout":			4500,
							"autoWidth":				false,
							"merge":					true,
							"rtl":						false,

							"animateIn":				"flipInX",
							"animateOut":				"flipOutX",

							"responsive": {
								"0":	{"items":1},
								"600":	{"items":2},
								"1000":	{"items":2}
							}

						}'>

                <a href="{{object.image.url}}" class="image-hover-plus image-hover-overlay">
                    <i class="icon-hover-plus"></i>
                    <img class="img-fluid" src="{{object.image.url}}" alt="image here">
                </a>


            </div>

        </div>


    </div>
</section>


<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel-group col-sm-4" id="accordionMenu" role="tablist" aria-multiselectable="true" style="min-height:100%">
          <a ><h2 class="tb" style="display: inline-block; margin-right:20px;">All Products</h2><i class="fa fa-angle-down" style="font-size:20px;"aria-hidden="true"></i></a>
          {% for object in queryset %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
            <a href="/products/detail/{{object.slug}}/">
              {{ object.name }}
            </a>
          </h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
      <div class="col-sm-8">
            <h2 >Product Description </h2>
                <p>{{object.description | safe }}</p>

            </div>
        </div>
    </div>
</section>


<!-- BUTTON CALLOUT -->
<a href="/contact/" class="btn btn-xlg btn-default fs-20 fullwidth m-0 rad-0 b-0 p-40">
    <span class="font-lato fs-30">
					Liked the Product?
					<strong>Enquire Now &raquo;</strong>
				</span>
</a>
<!-- /BUTTON CALLOUT -->



{% endblock %}
{% block javascript %}
<script>
$(document).ready(function(){
  $( ".tb" ).click(function() {
  $( ".panel" ).toggle( "slow", function() {
    // Animation complete.
  });
});
});
</script>
{% endblock %}
