{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<section id="slider" class="halfheight mobile-fullheight m-0" style="background:url({% static 'background/background-img2.jpg' %}) center">


    <div class="display-table">
        <div class="display-table-cell vertical-align-middle">

            <div class="container text-center">

                <h1 class="fw-300 mt-30 mb-0 wow fadeIn" data-wow-delay="0.6s" style="padding:10px; background:rgba(0, 0, 0, 0.719); color:rgb(255,255,255);">Products</h1>

            </div>

        </div>
    </div>

</section>
<!-- / -->


<section>
    <div class="container">

        <div class="row">
          <div class="col-sm-12">
        <header class="text-center mb-60">
            <h2 class="fs-25">DESIGNED FOR YOUR PURPOSE</h2>
            <p class="fw-300">WE PUT THE A-GRADE IN QUALITY</p>
        </header>
      </div>
  </div>

        <div class="row ">


          <div class="panel-group col-sm-4" id="accordionMenu" role="tablist" aria-multiselectable="true" style="min-height:100%">
          <a ><h2 class="tb" style="display: inline-block; margin-right:20px;">All Products</h2><i class="fa fa-angle-down" style="font-size:20px;"aria-hidden="true"></i></a>
          {% for object in queryset %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
            <a href="/products/detail/{{object.slug}}/">
              {{ object.name }}
            </a>
          </h4>
          </div>
        </div>
        {% endfor %}
      </div>

            <!-- machine -->
            <!-- START OF FOR LOOP -->
            <div class="col-sm-8 cards-rooms" >
            {% for instance in queryset %}
                <div class="card col-sm-6" >
                    <a href="/products/detail/{{instance.slug}}/" class="image-hover-overlay">
                        <img class="card-img-top img-responsive" src="{{ instance.image.url }}" alt="{{ instance.name}} image" height="300" >
                    </a>
                    <div class="card-block">
                        <h3 class="card-title fs-18">
                            {{instance.name}}
                        </h3>
                        <p class="card-text">
                            {{ instance.desc }}
                        </p>
                        <a class="fs-14" href="/products/detail/{{instance.slug}}/">View more info</a>
                    </div>
                </div>
            {%endfor%}
          </div>
            <!-- /machine -->
            <!-- END OF FOR LOOP -->
        </div>
        <!-- /row -->
    </div>
</section>




<!-- BUTTON CALLOUT -->
<a href="/contact/" class="btn btn-xlg btn-default fs-20 fullwidth m-0 rad-0 b-0 p-40">
    <span class="font-lato fs-30">
					Need Our Service?
					<strong>Contact Now! &raquo;</strong>
				</span>
</a>
<!-- /BUTTON CALLOUT -->


{% endblock %}
{% block javascript %}
<script>
$(document).ready(function(){
  $( ".tb" ).click(function() {
  $( ".panel" ).toggle( "slow", function() {
    // Animation complete.
  });
});
});
</script>
{% endblock %}
